* {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 500;
    font-size: 1vw;
}
*::selection {
    background-color: #f6bd60;
}
img::selection {
    background-color: transparent;
}

#time {
    right: 8px;
    transform: translateY(0.3vh);
    position: fixed;
    z-index: 1;
}
#bar {
    display: flex;
    margin-left: 8vw;
    right: 8vw;
    position: fixed;
    z-index: 11;
}
#image_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 8px; /* Spacing between grid items */
    width: 100%; /* Full container width */
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure multi-line text is centered */
}
.heading{
    font-size: 15px;
    font-weight: 900;
    margin: 0;
}
.grid-item img {
    width: 100%; /* Stretch to fill the width of the column */
    height: auto; /* Maintain the image's aspect ratio */
    max-height: calc((100vw / 3) * 1.5); /* Height limited to 1.5 times the column width */
    object-fit: cover; /* Crop the image to fit the grid cell */
}

.grid-item p {
    margin: 0; /* Remove default margin */
    font-size: 0.9rem; /* Adjust text size as needed */
    color: #000; /* Set a consistent text color */
    text-align: left;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

a:hover {
    color: #727272;
    font-size: 0.9vw;
}
img {
    width: 100%;
    height: auto;
    object-position: center;
}
img:hover {
    z-index: 11;
}
.flip {
    cursor: e-resize;
}
#airFrance:hover {
    z-index: 11;
}
#timeline {
    z-index: 2;
    position: fixed;
    width: 33vw;
    margin-left: 16px;
    margin-top: 8px;
}
p {
    margin: 0;
}
a {
    color: black;
    font-weight: 500;
    margin: inherit;
}